<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>526151348294-4b4ilblo7ompg8j0cib8l8v16aeack3d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.526151348294-4b4ilblo7ompg8j0cib8l8v16aeack3d</string>
	<key>API_KEY</key>
	<string>AIzaSyCP0QdC8LWILbUZXQs9T9wVuAz5stoA7dI</string>
	<key>GCM_SENDER_ID</key>
	<string>526151348294</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.sms</string>
	<key>PROJECT_ID</key>
	<string>schoolms-15ec9</string>
	<key>STORAGE_BUCKET</key>
	<string>schoolms-15ec9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:526151348294:ios:317ab31e7a67f508c4da47</string>
</dict>
</plist>